{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body class="rr">
    {% if data1 %}
    <form action="{% url 'edit_g' data1.id %}" method="post">
    {% csrf_token %}
        name
    <input type="text" name="todo" class="ww" value="{{data1.title1}}"><br><br>
    date
    <input type="date" name="date" class="www" value="{{data1.title2}}"><br><br>
    course
    <input type="text" name="course" class="ww" value="{{data1.title3}}"><br><br>
    <!-- <input type="submit" value="submit" class="cc"><br><br> -->
    <button type="submit" class="cc">submit</button>
    </form>
    {% else %}

    <div class="tt">
        <div class="ss"></div>
        <div class="ee"><h3>FORM</h3></div>
    <form action="{% url 'index' %}" method="post" class="gg">
    {% csrf_token %}
    
    name
    <input type="text" name="todo" class="ww"><br><br>
    date
    <input type="date" name="date" class="www"><br><br>
    course
    <input type="text" name="course" class="ww"><br><br>
    <!-- <input type="submit" value="submit" class="cc"><br><br> -->
    <button type="submit" class="cc">submit</button>
    </form>
   
    </div>
    {% endif %}
    <div class="tp">
        <div class="ss"></div>
        <div class="ee"><h3>TODO</h3></div>
    {% for i in feeds %}
   
    <span>{{ i.title1 }}</span>
    <span>{{ i.title2 }}</span>
    <span>{{ i.title3 }}</span>
    <a href="{% url 'deletion' i.id %}"><button>delete</button></a>
    <a href="{% url 'edit_g' i.id %}"><button>edit</button></a><br><br>
    {% endfor %}
    </div>
</body>
</html>